<!DOCTYPE html>
<html lang="en">
<title>Takumi Christchurch</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">TAKUMI HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PERFORMANCES</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img class="AUTO1" src="{{url_for('static', filename='Takumilogo.png')}}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img class="AUTO1" src="{{url_for('static', filename='Takumibanner.jpg')}}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Japan Day 2014</h3>
      <p><b>The atmosphere at Japan Day is intense.</b></p>    
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">TAKUMI JAPANESE DRUMMING GROUP</h2>
    <p class="w3-opacity"><i>About Us</i></p>
    <p class="w3-justify">
    <div> Started in 2008
    </div>

    <div>MORE INFO
    Home Town: Christchurch, New Zealand
    </div>
    <div>About
    Japanese taiko group TAKUMI is a Christchurch formed entertainment group performing at functions/schools and cultural events hoping to spread Japanese culture through heart pounding beats and stunning visual performance
    </div>
    <div>Biography
    TAKUMI formed in 2008, by Mr. Tomo Mameno. Formerly the principal of Japanese Supplementary School of Christchurch Canterbury. Wishing for the Japanese Society to
    "spread the uniqueness, the power and beauty that Japanese traditional music holds"
    Starting with only a few members, we have now expanded to a group of roughly 50 members. As the years went by, local schools and associations started to contact us and offered us numerous opportunities to perform regularly.
    We have had the privilege to perform several times at the annual Santa Parade held every Summer, Culture Galore of CPIT, Christmas in the Park 2012, Community events held across the city and several schools from Primary to High Schools.
    We must thank all those who have attended our concerts so far and to those who have enjoyed our performance, thank you for your support! We will strive to develop ourselves individually, but also as a performance group interacting with the community to spread out culture and hopefully spread some extra spice into the music events of Christchurch.
    Arigato gozaimasu! Thank you! </div>
    </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>
        <div><b>Chie O'keef</b></div>
        <div>Founding member</div>
        </p>
        <img class="AUTO1" src="{{url_for('static', filename='chie.jpg')}}" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
         <p>
        <div><b>Reiko Miyazawa</b></div>
        <div>Founder of Takumi Japanese Drumming group</div>
        </p>
        <img src="{{url_for('static', filename='Reiko.jpg')}}" class="w3-round" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>
        <div><b>Leon Shimazaki</b></div>
        <div>5th year member</div>
        </p>
        <img class="AUTO1" src="{{url_for('static', filename='Leon.jpg')}}" alt="Random Name" style="width:60%">
      </div>

    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Upcoming Performances</h2>
      <p class="w3-opacity w3-center"><i>Find a date that suits you!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">January <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">February <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">March <span class="w3-badge w3-right w3-margin-right">3</span></li>
        <li class="w3-padding">April <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">May <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">June <span class="w3-badge w3-right w3-margin-right">3</span></li>
        <li class="w3-padding">July <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">August <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">September <span class="w3-badge w3-right w3-margin-right">3</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">November <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">December <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="{{url_for('static', filename='Takumibanner2.jpg')}}" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Christchurch</b></p>
            <p class="w3-opacity">Sat 10 August 2019</p>
            <p>TAKUMI CONCERT 2019.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="{{url_for('static', filename='Takumibanner2.jpg')}}" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Christchurch</b></p>
            <p class="w3-opacity">Sat 28 Nov 2019</p>
            <p>TAKUMI performance 2019.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="{{url_for('static', filename='Takumibanner2.jpg')}}" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Christchurch</b></p>
            <p class="w3-opacity">Sun 29 Nov 2019</p>
            <p>TAKUMI performance 2019.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $20 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Christchurch, New Zealand<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +64 022 123 4567<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: cjdg_takumi@live.jp<br>
        <i class="fa fa-facebook" style="width:30px"> </i> Takumi Japanese Drumming Group 巧<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="{{url_for('static', filename='map.png')}}" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
